body {
  background-color: darkgrey;
  font-family: 'Lato', Arial, sans-serif;
}

.naranjita {
  background-image: #18263d !important;
}

p, i {
  color: white !important;
}

.chip {
  display:block !important;
}

.negrita {
  font-weight: bold;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: lightgrey;
}

.costado {
    display: inline;
}

nav {
  margin-bottom: 10px;
}

nav .brand-logo {
  color: white;
}

h2, h3{
  color: #d3e4ff;
}

html {
  overflow-y: scroll;
}

.todo_bien_box {
    padding: 20px;
    background-color: white;
    color: black;
    margin-bottom: 15px;

     animation:signup-response 0.5s 1;
    -webkit-animation:signup-response 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2s;
    -webkit-animation-delay:3s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

@keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}

th, td {
    padding: 10px;
}

select {
  color: black;
}

.btn .btn-large {
  background-color: #18263d !important;
}

img .uploaded {
  max-width: 500px;
  /*max-height: 220px;*/
  margin: 20px 20px 20px 20px;
  /*display: inline;*/
  /*float: left;
  /*margin-left: auto;
  margin-right: auto;*/

}

img .displayed {
  max-width: 100%; 
  height: auto;
}


/*
.gif {
  width: 20rem;
  margin: 10px;
  border-color: #333; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
/*
.forGifs {
  max-width: 400px;
  max-height: 400px;
}*/

.suggestion {
  max-width: 300px;
}
